
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CseLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        
                    </h3>

                </div>
                <div class="panel-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Branch ID</th>
                                    <th>Branch Location</th>
                                    <th>Branch Manager</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                   <tr>
                                       <td>Html.DisplayFor(model => item.branch_id)</td>
                                       <td>Html.DisplayFor(model => item.branch_name)</td>
                                       <td>Html.DisplayFor(model => item.Branch_manager_id)</td>
                                       <td>Html.DisplayFor(model => item.pin)</td>
                                        <td>
                                            <button type="button" class="btn btn-info"onclick="window.location.href = 'Branch/show';">New Brach Manager details</button>
                                            <button type="button" class="btn btn-warning">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </td>
                                   </tr>
                                }
                                  
                             </tbody> 
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />


</div>

