
@{<!--
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    string layout = "";
    if (controller == "BranchManager")
    {
        layout = "~/Views/Shared/_BranchManagerLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_CseLayout.cshtml";
    }
    Layout = layout;

    -->
 ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CseLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        Branch Details
                        <div class="pull-right">
                            <button type="button" class="btn btn-success">Add New Branch</button>
                        </div>

                    </h3>

                </div>
                <div class="panel-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Branch ID</th>
                                    <th>Branch Location</th>
                                    <th>Branch Manager</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <button type="button" class="btn btn-info">View</button>
                                        <button type="button" class="btn btn-warning">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                    <td>
                                        <button type="button" class="btn btn-info">View</button>
                                        <button type="button" class="btn btn-warning">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                    <td>
                                        <button type="button" class="btn btn-info">View</button>
                                        <button type="button" class="btn btn-warning">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />


</div>

